body {
    margin: 0;
    padding: 0;
    height: 667px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #d42c2c;
    padding-left:150px;
    font-size:xx-large;
}
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.Txtstyle4:focus {
    outline: none;
    border: 10px solid #9F2B68;
    box-shadow: 0px 0px 8px #9F2B68;
    background-color: #9F2B68;
}

.btn {
    position: relative;
    display: block;
    color: white;
    font-size: 20px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #9F2B68;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}

    .btn::before {
        background: #9F2B68;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
        transition: all 0.6s ease;
    }

.btn1::before {
    width: 0%;
    height: 100%;
}

.btn1:hover::before {
    width: 100%;
}


.btn2::before {
    width: 100%;
    height: 0%;
}

.btn2:hover::before {
    height: 100%;
}

.btn3::before {
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.btn3:hover::before {
    height: 380%;
}

.btn4::before {
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.btn4:hover::before {
    height: 380%;
}
